  /* GRID
  ---------
  uses flexbox to style the grid
  
  */

  #flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    width: 115em;
  }
  
  .flex-item {
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
  }

  /* HOVER
  -----------
  change the background color of the cell when the
  mouse hovers over it 
  */

  .hover
  {
    background-color: #353935;
  }