  /* GRID
  ---------
  uses flexbox to style the grid
  
  */

  #grid-container {
    display: grid;
    height: 70%;
    width: 70%;
    gap: 5px;
  }
  
  .grid-item {
    border: 1px solid #ddd;
    /* width: 100px;
    height: 100px; */
  }

  /* HOVER
  -----------
  change the background color of the cell when the
  mouse hovers over it 
  */

  .hover
  {
    background-color: #353935;
  }